<!DOCTYPE html >
<head>
<title>Spravka35</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta name="author" content="barmaglott" />
<meta name="keywords"
	content="simple, frilans, cherepovec, open project" />
<meta name="description" content="Simple frilans board" />

<link rel="stylesheet" href="style/minimalist.css" type="text/css"
	media="screen" />
<link rel="stylesheet" href="style/content-right.css" type="text/css"
	media="screen" />
<link rel="stylesheet" href="style/purple.css" type="text/css"
	media="screen" />
<link rel="stylesheet" href="style/bg_grey.css" type="text/css"
	media="screen" />
</head>
<body>